.row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
  margin: 5px;
  justify-content: space-evenly;
}

.item {
	margin: 2px;
	justify-content: center;
}

.banner {
	font-size: 1.5em;
	background: black;
	color: white;
	border-radius: 10px;
	/* width: 400px; */
	padding: 8px;
	text-align: center;
	display: inline-block;
}

.vspacer {
	height: 10px;
}

#leagueinput {
	max-width: 200px;
	text-align: center;
}

#leagueinput::-webkit-inner-spin-button, 
#leagueinput::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#weekbuttoncontainer {
	justify-content: center;
	align-items: center;
}

.invisible {
	width: 0;
	height: 0;
	opacity: 0;
	margin: 0; 
}

.weeklabel {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f2f2f2;
	cursor: pointer;
}

.weekinput:checked + .weeklabel {
	background: lightskyblue;
	/*border: 1px solid lightskyblue;*/
}

#weekpresetcontainer {
	justify-content: center;
	align-items: center;
}


th {
	cursor: pointer;
	background-color: #f2f2f2;
}

table, td, th {
	text-align: center;
	padding: 3px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
/*    width: 60px;					
    height: 28px;*/					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
